<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ask Hints</title>
</head>

<body>
    {{>header}}
    <p>Ask Hints is an indie site where you can get your answers instantly.</p>
    <form>
        <input placeholder = "location">
        <button>Search</button>
    </form>
    <p id="messageOne"></p>
    <p id="messageTwo"></p>
    {{>footer}}
    <script src="/js/app.js"></script
</body>

</html>
</DOCTYPE>